<h1>Listing lectures</h1>

<table>
  <tr>
    <th>강의명</th>
    <th>코드</th>
    <th>학기</th>
    <th>교수</th>
    <th>난이도</th>
    <th>학점만족도</th>
    <th>평점</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.name %></td>
    <td><%= lecture.code %></td>
    <td><%= lecture.semester %></td>
    <td><%= lecture.professor %></td>
    <td><%= number_with_precision(lecture.hard, precision: 2) %></td>
    <td><%= number_with_precision(lecture.gpa, precision: 2) %></td>
    <td><%= number_with_precision(lecture.score, precision: 2) %></td>
    <td><%= link_to 'Show', lecture %></td>
    <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
    <td><%= link_to 'Destroy', lecture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecture', new_lecture_path %>
